.l-content
  padding-left rem(80px)
  position relative
  z-index 2
  transform-origin 50% 0%
  .projects &
    padding-top rem(94px)
  .project &
    padding 0
    transform-origin 100% 0%
  .group &
    padding 0
    transform-origin 0% 0%