.l-header
  position fixed
  z-index 200
  top 0
  left rem(80px)
  right 0
  height rem(94px)
  display block
  background alpha(black, .35)
  color white

  &__inner
    justify-content flex-start
  &__menu
    f-size('roman', 16px, 84px)
    margin-top rem(10px)
    text-align center
    display none
    @media all and (min-width: $screen-sm)
      display block
  &__social
    display flex
    justify-content flex-end
    .menu
      justify-content flex-end!important
      margin-top rem(10px)
      f-size('roman', 16px, 84px)
      padding-right rem(76px)
      width rem(300px)
      .item
        margin rem(0 5px)
        > a
          font-size 0
          .s-icon
            &-facebook
              margin-top rem(2px)
            &-vkontakte
              margin-top rem(4px)
            &-google
              margin-top rem(6px)


  .logotype
    width rem(225px)
    padding rem(25px 31px 25px 42px)
    box-sizing border-box
    > a
      display block
      text-indent: -99999px
      overflow: hidden

      width rem(152px)
      height rem(43px)

      background url("/images/logo.png") no-repeat 0 0
      background-size 100% auto

  .page-title
    border-left 1px solid white
    f-size('thin', 36px, 50px)
    padding-left rem(34px)
    margin-top rem(5px)


