.l-nav
  position relative
  .menu
    position relative
    list-style none
    .item a
      display block
  &-horizontal
    .menu
      display flex
      flex-flow row wrap
      justify-content space-between
      align-items center
      .item
        flex 1



