.l-sidebar
  position fixed
  top 0
  left 0
  bottom 0
  width rem(80px)
  background alpha(black, .35)
  color white


  &__phone
    transform(rotate(-90deg))
    .phone
      white-space nowrap
      f-size('thin', 30px, 80px)
      strong
        f-size('medium', 30px, 80px)
