.text-center
  text-align center
.text-right
  text-align right
.text-left
  text-align left
.uppercase
  text-transform uppercase
.lowercase
  text-transform lowercase
.capitalize
  text-transform capitalize
.underline
  display inline-block
  line-height 1.1
  border-bottom 1px solid
.dashed
  display inline-block
  line-height 1.1
  border-bottom 1px dashed
ul.menu
  list-style none
.right
  float right
.left
  float left
.dl-horizontal
  clearfix()
  dt
    font-weight normal
    float left
    margin-right 5px
.muted
  color #b3b3b3
.clearfix
  clearfix()
