.b-projects

  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  position relative

  margin-top rem(20px)
  @media all and (min-width: $screen-xs)
    margin-top 0
  @media all and (min-width: $screen-sm)
    justify-content flex-start
    align-items flex-start
  &-title
    margin-right 5%

  &-content

    &__inner
      width rem(450px)
      height rem(450px)
      padding rem(45px)

      box-sizing content-box

      @media all and (min-width: $screen-xs)
        width rem(600px)
        height rem(600px)
        padding rem(60px)

      @media all and (min-width: $screen-sm)
        width rem(789px)
        height rem(789px)
        padding rem(90px)

  &-description
    width rem(350px)
    display none
    position absolute
    top rem(350px)
    @media all and (min-width: $screen-xs)
      width rem(400px)
      top rem(450px)
    @media all and (min-width: $screen-sm)
      position relative
      top 0
      width rem(570px)
      margin-top rem(-130px)
      margin-left rem(140px)
    .b-project__descr
      display none
      f-size('roman', 17px, 24px)
      h2
        f-size('thin', 48px, 48px)
        margin-bottom rem(20px)
      p
        max-width rem(460px)
      &.selected
        display block

  &-list
    background url("/images/bg-projects-list.png") no-repeat center
    background-size 100% auto

    width 100%
    height 100%

    display block
    position relative
    z-index 2

    &__item

      .b-project__bg
        position absolute
        top 50%
        left 50%
        transform translate3d(-50%, -50%, 0) rotate(-45deg)
        width rem(276px)
        height rem(276px)
        border-radius 0%
        background #467486
        z-index -1
        display none
        overflow hidden
        border-radius 0%
        transition border-radius 200ms linear
        &:before
          content ''
          display block
          position absolute
          top 50%
          left 50%
          width rem(394px)
          height rem(394px)
          background url("/images/bg-project.png") no-repeat center
          background-size cover
          transform translate3d(-50%, -50%, 0) rotate(45deg)
        > a
          display inline-block
          position absolute
          top 50%
          left 50%
          transform translate3d(-50%, -50%, 0) rotate(45deg)


      &.selected
        .b-project__bg
          display block
          border-radius 50%
          width rem(410px)
          height rem(410px)
          border-radius 50%
          transform translate3d(-50%, -50%, 0%) rotate(0deg)
          z-index 3
          @media all and (min-width: $screen-xs)
            width rem(535px)
            height rem(535px)
          @media all and (min-width: $screen-sm)
            width rem(710px)
            height rem(710px)
          &:before
            width rem(410px)
            height rem(410px)
            transform translate3d(-50%, -50%, 0%) rotate(0deg)
            @media all and (min-width: $screen-xs)
              width rem(535px)
              height rem(535px)
            @media all and (min-width: $screen-sm)
              width rem(710px)
              height rem(710px)
          > a
            transform translate3d(-50%, -50%, 0) rotate(0deg)

      .b-project__name
        position absolute
        top 50%
        left 50%
        text-align center
        width rem(120px)
        transition all 120ms ease-in-out
        cursor pointer
        f-size('roman', 20px, 24px)
        z-index 5
        small
          f-size('roman', 16px, 20px)
          display block
        @media all and (min-width: $screen-sm)
          width rem(140px)

      &.all .b-project__name
        z-index 1
        transform translate(-50%, -50%)
        &:hover
          transform translate(-50%, -50%) scale(1.1,1.1)


      radius = rem(280px)
      radius-xs = rem(350px)
      radius-sm = rem(460px)

      step = 45
      angle = 360
      for child in (2..9)
        &:nth-child({child}) .b-project__name
          angle = angle - (child * step)

          y = radius * math(radians(angle), 'sin')
          x = radius * math(radians(angle), 'cos')

          y-xs = radius-xs * math(radians(angle), 'sin')
          x-xs = radius-xs * math(radians(angle), 'cos')

          y-sm = radius-sm * math(radians(angle), 'sin')
          x-sm = radius-sm * math(radians(angle), 'cos')

          transform translate(-50%, -50%) translate(x, y)
          @media all and (min-width: $screen-xs)
            transform translate(-50%, -50%) translate(x-xs, y-xs)
          @media all and (min-width: $screen-sm)
            transform translate(-50%, -50%) translate(x-sm, y-sm)
          if child is 2
            top 0
            transform translate(-50%, -125%)!important
          if child is 4
            left 0
            transform translate(-100%, -50%)!important
          if child is 6
            top 100%
            transform translate(-50%, 25%)!important
          &:hover
            transform translate(-50%, -50%) translate(x, y) scale(1.1,1.1)
            @media all and (min-width: $screen-xs)
              transform translate(-50%, -50%) translate(x-xs, y-xs) scale(1.1,1.1)
            @media all and (min-width: $screen-sm)
              transform translate(-50%, -50%) translate(x-sm, y-sm) scale(1.1,1.1)
            if child is 2
              transform translate(-50%, -125%) scale(1.1,1.1)!important
            if child is 4
              transform translate(-100%, -50%) scale(1.1,1.1)!important
            if child is 6
              transform translate(-50%, 25%) scale(1.1,1.1)!important

      .icon
        display inline-block
        background-repeat no-repeat
        background-position  0 0
        background-size 100% auto

        &-all
          width rem(40px)
          height rem(40px)
          background-image url('/images/all.png')
          margin-bottom rem(8px)
          margin-top rem(26px)
        &-next
          width rem(76px)
          height rem(76px)
          background-image url('/images/arrow.png')

.b-project-group
  display flex
  flex-flow row wrap
  justify-content flex-end
  align-items flex-start
  position relative

.b-project-current
  display flex
  flex-flow row wrap
  justify-content flex-start
  align-items flex-start
  position relative

.b-project-about

  f-size('roman', 18px, 30px)

  &__inner
    width rem(360px)
    padding rem(160px 0 70px 95px)

    @media all and (min-width: $screen-xs)
      width rem(460px)
      padding rem(160px 0 70px 120px)
    @media all and (min-width: $screen-sm)
      width rem(560px)
      padding rem(160px 0 70px 160px)

  h1
    f-size('thin', 55px, 55px)
  &__data
    margin rem(40px -16px 40px -16px)
    padding rem(16px)
    position relative
    &:before, &:after
      content ''
      display block
      position absolute
      left 0
      right 0
      height 50%
      background url("/images/table-bg.png") no-repeat 0 0
      background-size 100% auto
      z-index -1
    &:before
      top 0
    &:after
      bottom 0
      background-position left bottom
    table
      width 100%
    td
      border-bottom 1px solid black
    tr:last-child td
      border 0
      padding-bottom 0

article.bordered
  padding-left rem(18px)
  border-left 1px solid red
  margin-left rem(-18px)
  margin-bottom rem(30px)

button.button-red
  background none
  appearence none
  border 1px solid red
  color white
  f-size('roman', 16px, 60px)
  height rem(60px)
  padding rem(0 15px)
  cursor pointer
  &:hover
    background red

article.group-description
  width rem(300px)
  margin-right rem(10px)
  margin-top rem(100px)
  z-index 10
  f-size('roman', 18px, 24px)
  display none
  @media all and (min-width: $screen-xs)
    margin-top rem(670px)
    margin-right rem(50px)
    width rem(300px)
  @media all and (min-width: $screen-sm)
    margin-top rem(670px)
    margin-right rem(100px)
    width rem(400px)
  p
    margin-bottom rem(50px)
  .show-more
    text-transform uppercase
    float right
    text-decoration none
    f-size('roman', 20px, 40px)
    position relative
    display block
    padding-right rem(30px)
    &:before
      content ''
      display block
      width rem(16px)
      height rem(24px)
      background url('/images/arrow-right-red.png') no-repeat 0 0
      background-size 100% auto
      position absolute
      right 0
      top rem(6px)
    &:hover
      color red

for item in (1..14)
  .b-project-group__description[data-active={'"' + item + '"'}] .group-description:nth-child({item})
    display block

