.b-projects

  display flex
  flex-flow row wrap
  justify-content flex-start
  align-items flex-start
  position relative

  &-content

    &__inner
      width rem(789px)
      height rem(789px)

      padding rem(90px)

      box-sizing content-box

  &-description
    width rem(570px)
    margin-top rem(192px)
    margin-left rem(140px)
    display none
    .b-project__descr
      display none
      f-size('roman', 17px, 24px)
      h2
        f-size('thin', 48px, 48px)
        margin-bottom rem(20px)
      p
        max-width rem(460px)
      &.selected
        display block

  &-list
    background url("/images/bg-projects-list.png") no-repeat center
    background-size 100% auto

    width 100%
    height 100%

    display block
    position relative
    z-index 2

    &__item

      .b-project__bg
        position absolute
        top 50%
        left 50%
        transform translate3d(-50%, -50%, 0) rotate(-45deg)
        width rem(276px)
        height rem(276px)
        border-radius 0%
        background #467486
        z-index -1
        display none
        overflow hidden
        border-radius 0%
        transition border-radius 200ms linear
        &:before
          content ''
          display block
          position absolute
          top 50%
          left 50%
          width rem(394px)
          height rem(394px)
          background url("/images/bg-project.png") no-repeat center
          background-size cover
          transform translate3d(-50%, -50%, 0) rotate(45deg)
        > a
          display inline-block
          position absolute
          top 50%
          left 50%
          transform translate3d(-50%, -50%, 0)


      &.selected
        .b-project__bg
          display block
          // animation project-bg-animation 100ms 100ms linear forwards
          border-radius 50%
          width rem(710px)
          height rem(710px)
          border-radius 50%
          transform translate3d(-50%, -50%, 0) rotate(0deg)
          z-index 3
          &:before
            // animation project-bgb-animation 100ms 100ms linear forwards
            width rem(710px)
            height rem(710px)
            transform translate3d(-50%, -50%, 0) rotate(0deg)

      .b-project__name
        position absolute
        top 50%
        left 50%
        text-align center
        width rem(140px)
        transition all 120ms ease-in-out
        cursor pointer
        f-size('roman', 20px, 24px)
        z-index 5
        small
          f-size('roman', 16px, 20px)
          display block

      &.all .b-project__name
        z-index 1
        transform translate(-50%, -50%)
        &:hover
          transform translate(-50%, -50%) scale(1.1,1.1)


      radius = rem(460px)
      step = 45
      angle = 360
      for child in (2..9)
        &:nth-child({child}) .b-project__name
          angle = angle - (child * step)
          y = radius * math(radians(angle), 'sin')
          x = radius * math(radians(angle), 'cos')
          transform translate(-50%, -50%) translate(x, y)
          if child is 2
            transform translate(-50%, 0) translate(x, y)
          if child is 6
            transform translate(-50%, -100%) translate(x, y)
          &:hover
            transform translate(-50%, -50%) translate(x, y) scale(1.1,1.1)
            if child is 2
              transform translate(-50%, 0) translate(x, y) scale(1.1,1.1)
            if child is 6
              transform translate(-50%, -100%) translate(x, y) scale(1.1,1.1)

      .icon
        display inline-block
        background-repeat no-repeat
        background-position  0 0
        background-size 100% auto

        &-all
          width rem(40px)
          height rem(40px)
          background-image url('/images/all.png')
          margin-bottom rem(8px)
          margin-top rem(26px)
        &-next
          width rem(76px)
          height rem(76px)
          background-image url('/images/arrow.png')


.b-project-current, .b-project-group
  height 100vh
  overflow hidden
  position relative

.b-project-about
  padding rem(160px 0 70px 160px)
  width 50%
  max-width rem(560px)
  f-size('roman', 18px, 30px)
  h1
    f-size('thin', 55px, 55px)
  &__data
    width 100%
    margin rem(40px 0)
    td
      border-bottom 1px solid black
    tr:last-child td
      border 0

article.bordered
  padding-left rem(18px)
  border-left 1px solid red
  margin-left rem(-18px)
  margin-bottom rem(30px)

button.button-red
  background none
  appearence none
  border 1px solid red
  color white
  f-size('roman', 16px, 60px)
  height rem(60px)
  padding rem(0 15px)
  cursor pointer
  &:hover
    background red

@keyframes project-bg-animation
  0%
    width rem(276px)
    height rem(276px)
    transform translate3d(-50%, -50%, 0) rotate(-45deg)
    z-index -1
  100%
    width rem(710px)
    height rem(710px)
    border-radius 50%
    transform translate3d(-50%, -50%, 0) rotate(0deg)
    z-index 3
@keyframes project-bgb-animation
  0%
    width rem(394px)
    height rem(394px)
    transform translate3d(-50%, -50%, 0) rotate(45deg)
  100%
    width rem(710px)
    height rem(710px)
    transform translate3d(-50%, -50%, 0) rotate(0deg)