doctype html
html
  head
    title Genesis
    base(href="/")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" type="text/css" href="/stylesheets/application.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script
      | window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>');
    script(src="/javascripts/application.js")
  body.project.fixed-height
    .video-background
      video.video(src="/video/bg.webm" playsinline="" autoplay="" muted="" loop="")
      .mask
    header.l-header
      .l-header__inner.s-grid
        .s-col.s-grid
          h1.logotype
            a(href="/") Genesis
          .page-title Проекты
        nav.l-nav.l-nav-horizontal.l-header__menu.s-col
          ul.menu
            li.item
              a.link(href="javascript:;") Партнерам
            li.item.selected
              a.link(href="/projects.html") Застройщикам
            li.item
              a.link(href="javascript:;") Строителям
            li.item
              a.link(href="javascript:;") Девелоперам
        .l-nav.l-nav-horizontal.l-header__social.s-col
          ul.menu
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-twitter Twitter
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-linkedin LinkedIn
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-facebook Facebook
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-vkontakte Vkontakte
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-google Google +
    aside.l-sidebar
      .l-sidebar__inner
        .l-sidebar__top
          a.menu-button(href="javascript:;")
            i.s-icon.s-icon-menu
            | Меню
        .l-nav.l-nav-vertical.l-sidebar__menu
          ul.menu
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-search Поиск
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-question Вопросы
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-note Заметки
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-info Информация
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-megaphone Отзывы
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-camera Видео
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-phone Контакты
            li.item
              a(href="javascript:;")
                i.s-icon.s-icon-location Карта
        .l-sidebar__phone
          a.phone(href="javascript:;")
            | 8 (800)
            strong  555-04-00
    main.l-content
      section.b-project-current
        .b-project-about
          .b-project-about__inner
            h1 Т2 - Орхидея
            .b-project-about__data
              table
                tbody
                  tr
                    td Габаритные размеры
                    td.text-right 8,5 х 6,5 м
                  tr
                    td Общая площадь
                    td.text-right 101 м2
                  tr
                    td Высота здания
                    td.text-right 7,5 м
                  tr
                    td Количество этажей
                    td.text-right 2
                  tr
                    td Высота первого этажа
                    td.text-right 2,8 м
                  tr
                    td Высота второго этажа
                    td.text-right 2,8 м
            article.bordered
              p Двухэтажный коттедж «Орхидея» с первого взгляда радует взор своим элегантным видом и изысканным вкусом хозяев, которые выбрали данный проект для воплощения его в жизнь. Белоснежный фасад прекрасно гармонирует с кровлей и отделкой цоколя цвета орхидеи.

              p Центральный вход украшен белыми колоннами и белясинами, а на втором этаже - скульптурой, размещенной в нише фронтона пристройки. Имитация балкона на втором этаже придает главному фасаду особо торжественный вид. Из высоких окон сквозь ажурное ограждение прекрасно просматриваются природные пейзажи, которыми можно любоваться, выйдя на один из балконов второго этажа.
            button.button-red Посмотреть планировки

        #slider.b-ellipse-slider(data-active="1")
          .b-ellipse-slider__pages-bg
          #slider-images.b-ellipse-slider__images
            .b-ellipse-slider__image.active
              .image(style="background-image: url('/images/slider/1.png')")
            .b-ellipse-slider__image
              .image(style="background-image: url('/images/slider/2.png')")
            .b-ellipse-slider__image
              .image(style="background-image: url('/images/slider/1.png')")
            .b-ellipse-slider__image
              .image(style="background-image: url('/images/slider/2.png')")
            .b-ellipse-slider__image
              .image(style="background-image: url('/images/slider/1.png')")
          ul#slider-pages.b-ellipse-slider__pages
            li.b-ellipse-slider__page.active
              span.name 01
              span.sc
            li.b-ellipse-slider__page
              span.name 02
              span.sc
            li.b-ellipse-slider__page
              span.name 03
              span.sc
            li.b-ellipse-slider__page
              span.name 04
              span.sc
            li.b-ellipse-slider__page
              span.name 05
              span.sc
          #slider-controls.b-ellipse-slider__controls
            a.prev(href="javascript:;")
              i.icon.icon-arrow-up
            a.next(href="javascript:;")
              i.icon.icon-arrow-down





















