.s-icon
  text-indent: -99999px
  display: inline-block
  overflow: hidden

  background url("/images/icons.png") no-repeat 0 0
  background-size rem(400px) rem(600px)

  width rem(30px)
  height rem(24px)

  &-twitter
    background-position rem(-80px -36px)
  &-linkedin
    background-position rem(-122px -34px)
  &-facebook
    background-position rem(-158px -36px)
  &-vkontakte
    background-position rem(-195px -36px)
  &-google
    background-position rem(-234px -36px)


  &-menu
    width rem(42px)
    height rem(42px)
    background-position rem(-18px -26px)


  &-search,
  &-question,
  &-note,
  &-info,
  &-phone,
  &-location,
  &-megaphone,
  &-camera
    width rem(30px)
    height rem(30px)

  &-search
    background-position rem(-24px -100px)
  &-question
    background-position rem(-24px -141px)
  &-note
    background-position rem(-24px -185px)
  &-info
    background-position rem(-24px -225px)
  &-megaphone
    background-position rem(-24px -265px)
  &-camera
    background-position rem(-24px -305px)
  &-phone
    background-position rem(-24px -343px)
  &-location
    background-position rem(-24px -384px)




