.s-icon
  text-indent: -99999px
  display: inline-block
  overflow: hidden

  retina-image( "/images/icons.png", rem(400px) rem(600px), "-2x" )
  width rem(30px)
  height rem(24px)

  &-twitter
    background-position rem(-84px -32px)
    &:hover
      background-position rem(-84px -92px)
  &-linkedin
    background-position rem(-126px -30px)
    &:hover
      background-position rem(-126px -89px)
  &-facebook
    background-position rem(-160px -32px)
    &:hover
      background-position rem(-160px -92px)
  &-vkontakte
    background-position rem(-197px -32px)
    &:hover
      background-position rem(-197px -92px)
  &-google
    background-position rem(-236px -32px)
    &:hover
      background-position rem(-236px -92px)
