.s-icon
  text-indent: -99999px
  display: inline-block
  overflow: hidden

  background url("/images/icons.png") no-repeat 0 0
  background-size rem(400px) rem(600px)

  retina-image( "/images/icons.png", rem(400px) rem(600px), "-2x" )

  width rem(30px)
  height rem(24px)

  &-twitter
    background-position rem(-84px -32px)
    &:hover
      background-position rem(-84px -92px)
  &-linkedin
    background-position rem(-126px -30px)
    &:hover
      background-position rem(-126px -89px)
  &-facebook
    background-position rem(-160px -32px)
    &:hover
      background-position rem(-160px -92px)
  &-vkontakte
    background-position rem(-197px -32px)
    &:hover
      background-position rem(-197px -92px)
  &-google
    background-position rem(-236px -32px)
    &:hover
      background-position rem(-236px -92px)

  &-menu
    width rem(42px)
    height rem(42px)
    background-position rem(-18px -24px)


  &-search,
  &-question,
  &-note,
  &-info,
  &-phone,
  &-location
    width rem(30px)
    height rem(30px)

  &-search
    background-position rem(-24px -90px)
  &-question
    background-position rem(-24px -131px)
  &-note
    background-position rem(-24px -175px)
  &-info
    background-position rem(-24px -218px)
  &-phone
    background-position rem(-24px -260px)
  &-location
    background-position rem(-24px -305px)



